services:
  # 这是你刚才配置的 MySQL
  db:
    image: mysql:8.0
    container_name: my-mysql-container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: my_database
    ports:
      - "3306:3306"
    volumes:
      - ./mysql_data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password

  # === Adminer ===
  adminer:
    image: adminer
    restart: always
    ports:
      - "8081:8080" # 这里我们用 8081 端口