services:
  db:
    image: mysql:8.0
    container_name: csbot-database
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: csbot
    ports:
      - "3306:3306"
    volumes:
      - ./mysql_data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password
  adminer:
    image: adminer
    restart: unless-stopped
    ports:
      - "8081:8080" # 这里我们用 8081 端口
  nginx:
    image: nginx:alpine
    container_name: csbot-nginx
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./assets/default.conf:/etc/nginx/conf.d/default.conf
      - ./imgs/:/usr/share/nginx/imgs/
      - ./dist/:/usr/share/nginx/html/
    extra_hosts:
      - "host.docker.internal:host-gateway"
  napcat:
    image: mlikiowa/napcat-docker:latest
    container_name: csbot-napcat
    ports:
      - 6099:6099
    restart: unless-stopped
    volumes:
      - ./napcat/config:/app/napcat/config
      - ./ntqq:/app/.config/QQ
    extra_hosts:
      - "host.docker.internal:host-gateway"
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: csbot-tunnel
    restart: unless-stopped
    command: tunnel --no-autoupdate run --token ${TUNNEL_TOKEN}
    extra_hosts:
      - "host.docker.internal:host-gateway"